.container-box {
    display: grid;
    width: 40vmin;
    height: 40vmax;
    background-color: rebeccapurple;
    grid-template-rows: repeat(50,1fr);
    grid-template-columns: repeat(50,1fr);
    margin: auto;
}


#box-1 {
    width: 1fr;
    height: 1fr;
    grid-column-star    t: 25;
    grid-row-start: 25;
    background-color: white;
    border: solid 0.5px;
}

#start_button {
    left: 10px;
    background-color: bisque;

}
#food {
    background-color: burlywood;
}
