.container-box {
    display: grid;
    width: 100vmin;
    height: 100vmin;
    background-color: green ;
    grid-template-rows: repeat(50,1fr);
    grid-template-columns: repeat(50,1fr);
    margin: auto;
}


#box-1 {
    width: 1fr;
    height: 1fr;
    grid-column-start: 25;
    grid-row-start: 25;
    background-color: greenyellow;
    border: solid 0.5px;
}

#start_button {
    left: 10px;
    background-color: black;

}
#food {
    background-color: burlywood;
}
